
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>
<div></div>


<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Apply Leave", "ApplyLeave", "Leaves")</li>
        <li>@Html.ActionLink("Apply Duty Leave", "ApplyDutyLeave", "DutyLeaves")</li>
        <li>@Html.ActionLink("View Attendance", "ViewAttendance", "Attendance")</li>
        <li>@Html.ActionLink("View Leaves", "ViewLeaves", "Leaves")</li>

    </ul>
</div>

